:root {
  --bg-color: #131313;
  --text-color: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color:  var(--text-color);
  
}
a {
  color: inherit;
  text-decoration: none;
}


h1 {
  font-weight: 100;
  font-size: 5rem;
  margin-bottom: 1rem;
}
h2 {

  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero ul li {
  color: rgb(163, 163, 163);
}

p{
  font-weight: 100;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5vw;
  z-index: 100;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 1s;
  opacity: 0;
}

span {
  font-size: 3rem;
}
.menu {
  padding: 2rem 1rem 3rem;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
  counter-reset: menucounter;
  z-index: 100;
}

.menu__item {
  position: relative;
  margin: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  will-change: transform;
  /* background-color: red; */
}

.menu__item::before {
  counter-increment: menucounter;
  content: counters(menucounter, '.', decimal-leading-zero);
  position: absolute;
  left: -15px;
  top: 0;
  width: auto;
  color: white;
  line-height: 1;
  font-size: 10px;
}

.menu__item-text {
  pointer-events: none;
  display: block;
  line-height: 1;
  position: relative;
}

.menu__item > div:nth-child(1) span {
  will-change: transform;
  transform: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.menu__item > div:nth-child(2) span {
  will-change: transform;
  transform: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(90deg);
}

.menu__item:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu__item:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}

.toggle {
  cursor: pointer;
  z-index: 1000;
  color: white;
}

.animation {
  animation: flash 4s infinite;
}

main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pixel__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  /* flex-wrap: wrap;
    justify-content: flex-start; */
  pointer-events: none;
  z-index: 10;
  transition: 2s;
}

.pixel_column {
  display: flex;
  flex-direction: column;
}

.pixel {
  transition: 0.5s;
}

.active {
  background: #000000;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 100px 5vw;
}
.intro {
  margin-top: 2rem;
  width: 30vw;
}

@media screen and (max-width: 800px) {
  .intro {
    width: 80vw;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.2;
  }

  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

